<%= form_for [current_user, @send] do |f| %>
  <% if @send.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@send.errors.count, "error") %> prohibited this send from being saved:</h2>

      <ul>
      <% @send.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_field :subject %>
  </div>  

  <div class="field">
    <%= f.label :message %><br>
    <%= f.text_area :message %>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <%= f.label :image %>
    </div>
    <div class="col-xs-12 col-sm-10">
      <%= f.file_field  :image %>
    </div>
  </div>   

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
