<p id="notice"><%= notice %></p>

<h1>Listing Sends</h1>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sends.each do |send| %>
      <tr style="border-bottom: 2px solid red;">
        <td><%= send.message %></td>
        <td><%= link_to 'Show', user_send_path(current_user, send.id) %></td>
        <td><%= link_to 'Edit', edit_user_send_path(current_user, send.id) %></td>
        <td><%= link_to 'Destroy', user_send_path(current_user, send.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Send', new_user_send_path %>
