<p id="notice"><%= notice %></p>

<p>
  <strong><%= @send.subject %>::</strong>
  <%= @send.message %>
  <br />
  image path: <%= @send.image.url(:medium) %>
  <br />
  image name: <%= @send.image_file_name %>
  <br />
  <%= image_tag(@send.image.url(:medium), class: "image_attachment") if @send.image_file_name %>
</p>
<hr />

<%= link_to 'Edit', edit_user_send_path(current_user, @send) %> |
<%= link_to 'Back', user_sends_path %>
