<%= form_for [current_user, @email] do |f| %>
  <% if @email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email.errors.count, "error") %> prohibited this email from being saved:</h2>

      <ul>
      <% @email.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>     
    </div>
  <% end %>

  <div class="cell">
    <%= label_tag(:email, "email:") %> 
    <%= f.text_field(:email, class: 'form-control') %>  
  </div>   

  <div class="cell">
    <%= label_tag(:description, "description:") %>
    <%= f.text_area(:description, class: 'form-control') %>  
  </div>    

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
