т<p id="notice"><%= notice %></p>

<%= @email.email %>
<hr />
<%= @email.description %>
<hr />

<%= link_to 'Edit', edit_user_email_path(current_user, @email) %> |
<%= link_to 'Back', user_emails_path(current_user) %>
