<!DOCTYPE html>

<html>
  <head>
    <title>mailer</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="messages">
     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
    </div>

    <aside>
      <a class="btn btn-default">aside</a>
      <% if user_signed_in? %>
          <span>Здравствуйте, <%= current_user.email %></span>
          <%= link_to 'Выйти', destroy_user_session_path, :method => :get, class: 'btn-default btn' %>
          <br />
          <%= link_to 'emails', user_emails_path(current_user) %>
          <%= link_to 'sends', user_sends_path(current_user) %>
          <%= link_to 'send up', '' %>
      <% else %>
          <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
      <% end %>      
    </aside>

    <%= yield %>

  </body>
</html>
