<!DOCTYPE html>

<html>
  <head>
    <title>layout2</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="messages">
     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
    </div>

    <aside>
      <a class="btn btn-default">aside</a>
      <a class="btn btn-default">aside</a>
    </aside>

    <%= yield %>

  </body>
</html>
